# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Env files
# ======================
.env
.env.*

# ======================
# Docker
# ======================
docker-data/

# ======================
# IDEs (global)
# ======================
*.iml
.idea/
.vscode/

# ======================
# Misc
# ======================
coverage/
